* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    position: relative;
    background: #1c1a38;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
section {
    position: absolute;
    top: 140px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.container {
    width: 700px;
    height: 250px;
    background: rgba(41, 37, 98, 0.1);
    box-shadow: 0 15px 25px rgba(0, 0, 0, .2);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, .1);
}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    -webkit-box-reflect: below 1px linear-gradient(transparent,#0004);
}
#hours,#minutes{
    background-color: #1c1a38;
}
#seconds{
    background-color: rgb(242, 64, 64);
}
.timer h2 {
    font-size: 6em;
    color: #fff;
}

.timer h2:nth-child(odd) {
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    border-left: 1px solid rgba(255, 255, 255, .2);
    border-radius: 10px;
    padding: 10px 25px;
    background: rgba(255, 255, 255, .058);
    margin: 0 10px;
}
#meridian {
    position: relative;
    font-weight: 700;
    font-size: 2em;
    top: -50px;
    color: #fff;
}